body {
  font-family: 'Open Sans';
  margin: 0px;
  display: grid;
  height: 100vh;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: max-content;
  grid-template-areas:
  "header header header"  
  "main main main";
}

header {
  background-color: #c33c00;
  background-image: url("images/texture.svg");
  color: white;
  grid-area: header;
  /*padding: 10px;*/
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 10px;
}

#date {
  font-size: 15px;
  text-align: center;
}

main {
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url("images/gym-floor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  column-width: 25vw;
  position: relative;
  grid-area: main;
  padding: 30px;
}

.main-top-date {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

input {
  height: 40px;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 98%;
}

article {
  text-align: center;
  background-color: #c33c00;
  border-radius: 2%;
  break-inside: avoid;
  color: white;
  filter: alpha(opacity=90);
  height: 30vh;
  margin-bottom: 20px;
  overflow: scroll;
  padding: 10px;
  opacity: 0.7;
}

.main-bottom--hydration-card--number-of-ounces-past-key {
  margin-bottom: 5px;
  margin-top: 5px;
}

.main-bottom-center--sleep-card--hours-of-sleep-section {
  color: white;
}

.main-bottom-center--sleep-card {
  display: inline-flex;
}

.box {
  font-size: 12px;
}

table {
  border-collapse: collapse;

}
table td {
  border: 1px solid white;
  font-size: 13px;
  width: 120px;
}